<div class="row">
    <div class="col-md-8">
        <h3>List of Post</h3>

        <a class="btn btn-primary" [routerLink]="['/posts/add']" routerLinkActive="router-link-active" >Add post</a>

        <table class="table table-striped" *ngIf="posts$ | async as postList">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postList">
                    <td >{{post.id}}</td>
                    <td >{{post.title}}</td>
                    <td >{{post.description}}</td>
                    <td >
                        <a
                         class="btn btn-primary"
                         [routerLink]="['edit', post.id]"
                         > update</a>

                        <a
                         class="btn btn-info"
                         [routerLink]="['single', post.id]"
                         > single</a>
                         
                        <a
                         class="btn btn-danger mx-4"
                         (click)="onDeletePost(post.id)"
                         > Delete</a>
                        
                        
                        </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>