<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h3> Signup Form</h3>
            <hr>
            
            <form [formGroup]="signupForm" (ngSubmit)="onSingup()"> 
                <div class="mb-3">
                    <label for="email"> Email</label>
                    <input type="text"  id="email" class="form-control" formControlName="email">
                    <div class="text-danger" *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid">
                        <span *ngIf="signupForm.get('email').errors.required">The email is required</span>
                        <span *ngIf="signupForm.get('email').errors.email">The email is invalid</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email"> Password</label>
                    <input type="password"  id="password" class="form-control" formControlName="password">
                    <div class="text-danger" *ngIf="signupForm.get('password').touched && !signupForm.get('password').valid">
                        <span *ngIf="signupForm.get('password').errors.required">The password is required</span>
                        <span *ngIf="signupForm.get('password').errors.minlength">The password must be minimum of 3 characters</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="confirm-password"> Confirm password</label>
                    <input type="password"  id="confirm-password" class="form-control" formControlName="passwordConfirm">
                    <div class="text-danger" *ngIf="signupForm.get('passwordConfirm').touched && !signupForm.get('passwordConfirm').valid">
                        <span *ngIf="signupForm.get('passwordConfirm').errors.required">The confirm password is required</span>
                        <span *ngIf="signupForm.get('passwordConfirm').errors.minlength">The password must be minimum of 3 characters</span>
                    </div>
                    <div class="text-danger" *ngIf="signupForm.get('passwordConfirm').touched && signupForm.get('passwordConfirm').value != signupForm.get('password').value">
                        <span *ngIf="signupForm.get('passwordConfirm').value != signupForm.get('password').value">The confirm password must be same as password</span>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" [disabled]="!signupForm.valid || signupForm.get('passwordConfirm').value != signupForm.get('password').value">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>