<div class="row">
  <div class="col-md-12">
    <h3>Post Update Form</h3>
    <hr />

    <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
      <div class="mb-3">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
        />
        <div
          class="text-danger"
          *ngIf="postForm.get('title').touched && !postForm.get('title').valid"
        >
          <span *ngIf="postForm.get('title').errors.required">
            The title is required !
          </span>
          <span *ngIf="postForm.get('title').errors.minlength">
            The title should be minimum of 6 characters
          </span>
        </div>
      </div>

      <div class="mb-3">
        <label for="description"> Description</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="description"
        ></textarea>
        <div
          class="text-danger"
          *ngIf="postForm.get('description').touched && !postForm.get('description').valid">
          <span *ngIf="postForm.get('description').errors.required">
            The description is required !
          </span>
          <span *ngIf="postForm.get('description').errors.minlength">
            The description should be minimum of 10 characters
          </span>
        </div>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-info" [disabled]="!postForm.valid">
          Update post
        </button>
      </div>
    </form>
  </div>
</div>
